# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: End to End Unsecured Tests

on:
  pull_request:
    branches:
      [ 'master', 'develop', '5.x.x/develop' ]

jobs:
  build:

    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          java-package: jdk
      - name: Run End2End Unsecured tests
        run: ./gradlew endToEndUnsecuredTest