name: Publish Release

on:
  push:
    branches:
      - release/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Gradle Maven Publish
        run: |
          ./gradlew publishMavenJavaPublicationToMavenLocal
        env:
          IS_RELEASE: "YES"
          PGP_KEY: ${{ secrets.PGP_KEY }}
          PGP_PSW: ${{ secrets.PGP_PSW }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}